/*font-family: 'Anonymous Pro', monospace;
font-family: 'Poppins', sans-serif;*/
/*COLORS
Red: #E95041
Blue: #00237E
Yellow: #FFE292
Green: #B4EEBD*/
/*General*//*General*//*General*//*General*//*General*//*General*/
body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*overflow-x: hidden;*/
}
h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-family: 'Poppins', sans-serif !important;
  color: #E95041 !important;
  font-weight: 500 !important;
  font-size: 3.13em !important;
  @media (min-width: @screen-md-min) {
    font-size: 2.35em;
  }
}
h3 {
  font-family: 'Poppins', sans-serif !important;
  color: white ;
  font-weight: 500;
  font-size: 28px;
}
h4{
  font-family: 'Anonymous Pro', monospace !important;
  line-height: 150%;
  font-size: 18px;
  color: white;
}
h4 a, h4 a:active, h4 a:visited, h4 a:hover {
    text-decoration:none;
    color:red;
}
p {
  font-family: 'Anonymous Pro', monospace !important;
  line-height: 150%;
}

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  color:inherit;
}

hr {
  color:#00237E;
  background-color: #00237E;
  height: 3px;
}

.container-fluid {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
.row {
  padding-left: 0px;
  padding-right:0px;
  margin-left: 0px;
  margin-right: 0px;
}
/*General*//*General*//*General*//*General*//*General*//*General*/

/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
.custom-nav a{
  color:#E95041!important;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: white!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-right: 5px!important;
  padding-left: 5px!important;
}

.navbar-brand {
  color: #E95041!important;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-top: 25px;
  padding-left: 30px;
}

.hvr-custom {
  background-color: white!important;
}

.navbar-nav a{
  color:red;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
}

.navbar {
    background-color: red;
    border-color: #E7E7E7;
}
.navbar-brand {
  margin-bottom: 20px;
}
.navbar-toggle {
  margin-bottom: 0px;
  margin-top: 18px;
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/

.section .row p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.section {
  margin-bottom: 70px;
  margin-top: 20px;
}


/*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*/
.intro-header {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: url(../background.png) no-repeat center center;
  background-size: cover;
}
.intro-text{
  position: relative;
  padding-top: 5%;
  padding-bottom: 20%;
}
.subheader-text{
  position: relative;
  margin-top: 3%;
}
#intro-button{
  margin-top: 40px;
}
/*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*/

/*button*//*button*//*button*//*button*//*button*//*button*//*button*/
.btn {
  padding: 20px 40px 20px 40px;
  border: 0 none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  border-radius: 0;
}

.btn-primary {
    background: #E95041;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #E95041;
}

.btn-primary:active, .btn-primary.active {
    background: #E95041;
    box-shadow: none;
}
/*button*//*button*//*button*//*button*//*button*//*button*//*button*/

/*Font Awesome*/
.fa {
  color:white;
  margin-bottom: 30px;
}
.fa-code {
  color:#B4EEBD;
}
/*Font Awesome*/

/*About Section*//*About Section*//*About Section*//*About Section*/
#about-nav-section p {
  color:#00237E;
}
#about-nav-section h2{
  font-weight: bold;
  color: #E95041;
}
#about-nav-section {
  margin-top: 40px;
  margin-bottom: 100px;
}

.header-space-below {
  margin-top: -40px;
  margin-bottom: 40px;
}
/*About Section*//*About Section*//*About Section*//*About Section*/

/*Course offerings section*/
.watch {
  padding-top:110px;
  padding-bottom: 110px;
}
.watch h3 {
  font-weight: bold;
}
.course-head {
  margin-top: -90px;
  margin-bottom: 50px;
  padding-top: 0px;
  text-align: center;
}
.course-head h2 {
  color:#E95041
}
#course-nav-section h2 {
  font-weight: bold;
  color:#00237E;
}
#ui-ux-section {
  background-color: #00237E;
  text-align: center;
  border-bottom-color:#00237E;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

#ui-ux-section h3 {
  color: white;
  margin-bottom: 20px;
}

#full-stack-section {
  background-color: white;/*#FFE292*/
  text-align: center;
}

#full-stack-section h3 {
  color:#00237E;/*white*/
  margin-bottom: 20px;
}

#ios-section {
  background-color: #B4EEBD;
  text-align: center;
  border-bottom-color:#B4EEBD;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

#ios-section h3 {
  color:white;
  margin-bottom: 20px;
}
/*Course offerings section*/

/*FAQ Section*/
#faq-nav-section {
  color: #00237E;
  margin-top: -40px;
}
#faq-nav-section h2{
  color: #00237E;
}

#faq-nav-section a {
  color:#00237E;
}

.answer {
  display: none;
}

.answer {
  color: #E95041;
}
/*FAQ Section*/

/*Team Nav Section*/
#team-nav-section {
  background-color:#F0F0F0;
  text-align: left;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

#team-nav-section h2 {
  color: white;
  font-size: 40px;
  margin-bottom: -5px;
  font-weight: bold;
}

#team-nav-section p {
  line-height: 100%;
}

#team-nav-section h4 {
  color:black;
}

.designed {
  color: #4A4A4A!important;
}

#interest-email {
  margin-bottom: 40px;
  margin-top: 40px;
}

#designed-by {
  margin-bottom: 40px;
}
/*Team Nav Section*/


/*Contact Nav Section*/
#contact-nav-section {
  text-align: center;
  background-color:white;
  color:#00237E;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 50px;
  font-size: 20px;
}
#contact-nav-section h2 {
  color: #E95041;
  font-weight: bold;
  margin-bottom: 5px;
}

#contact-nav-section p {
  color: black;
}
#contact-nav-section a {
  color: #2A5DB0;
}
/*Contact Nav Section*/
.foot {
  margin-top: 2%;
}
/*Footer*/
footer {
  text-align: center;
  background-color: #F1F1F1;
  padding-bottom: 50px;
  padding-top: 50px;
}

footer h3 {
  font-size: 15px;
  color:#999999;
  font-weight: lighter;
}

.Copyright {
  margin-top: 50px;
}
/*Footer*/
@media (max-width: 768px) {
  .intro-text > h1 {font-size: 48px;}
  .subheader-text > h3 {font-size: 24px;}
  .foot >h4 {
    font-size: 14px;
    margin-right: 5%;
    margin-left: 5%;
  }
  #about-nav-section {
    margin-left: 5%;
    margin-right: 5%;
  }
  #faq-nav-section {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/*#mc_embed_signup{
  background:#00237E;
  font:14px Helvetica,Arial,sans-serif;
  text-align: center;
  margin: auto;
  width:20%;
  padding-top: 1%;
}*/
input.button {
  display: block;
  background: #E95041;
  color: #ffffff;
  border-radius: none;
  text-align: center;
  border: 0 none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
}
/*input.email {
  display: block;
  background: #00237E;
  border: 0 none;
  font-size: 24px;
  text-align: center;
}*/

/*Mail Chimp*?/*Mail Chimp*?/*Mail Chimp*?/*Mail Chimp*/
#mc_embed_signup{
  background-color: white;
  text-align: center;
  align-items: center;
  width: inherit;
  margin:0 auto;
  padding: 0px;
}
#mc_embed_signup.email{
  background-color: white;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#mc-embedded-subscribe-form {
  text-align: center;
  align-items: center;
  margin: 0px;
  padding: 30px;
  background-color: white;
}
#mail_chimp_wrapper h2{
  color: #E95041!important;
  font-size: 30px!important;
  margin-top: 10px;
  margin-bottom: -25px;
}
#mce-EMAIL {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  margin-bottom: 30px;
}
#mc-embedded-subscribe {
  padding: 10px 20px 10px 20px;
  border: 0 none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 0;
  background: #E95041;
  color: #ffffff;
}
/*Mail Chimp*?/*Mail Chimp*?/*Mail Chimp*?/*Mail Chimp*/
