/*font-family: 'Anonymous Pro', monospace;
font-family: 'Poppins', sans-serif;*/
/*COLORS
Red: #E95041
Blue: #00237E
Yellow: #FFE292
Green: #B4EEBD*/
/*General*//*General*//*General*//*General*//*General*//*General*/
body,
html {
    width: 100%;
    height: 100%;
}
h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 54px;
}

p {
  line-height: 250%;
}

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  color:inherit;
}

.container-fluid {
    background-color: white;
}
/*General*//*General*//*General*//*General*//*General*//*General*/

/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
.custom-nav a{
  color:#E95041!important;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: white!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-right: 5px!important;
  padding-left: 5px!important;
}

.navbar-brand {
  color: #E95041!important;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-top: 25px;
  padding-left: 30px;
}

.hvr-custom {
  background-color: white!important;
}

.navbar-nav a{
  color:red;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
}

.navbar {
    background-color: red;
    border-color: #E7E7E7;
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/

.section .row p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.section {
  margin-bottom: 70px;
  margin-top: 20px;
}

.section .row h2 {
  color:#E95041;
  margin-bottom: 40px;
}

/*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*/
.intro-header {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: url(../background.png) no-repeat center center;
  background-size: cover;
}
.intro-text{
  position: relative;
  padding-top: 5%;
  padding-bottom: 20%;
}

#intro-button{
  margin-top: 40px;
}
/*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*//*Splash Page*/

/*button*//*button*//*button*//*button*//*button*//*button*//*button*/
.btn {
  padding: 20px 40px 20px 40px;
  border: 0 none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  border-radius: 0;
}

.btn-primary {
    background: #E95041;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #E95041;
}

.btn-primary:active, .btn-primary.active {
    background: #E95041;
    box-shadow: none;
}
/*button*//*button*//*button*//*button*//*button*//*button*//*button*/

/*Font Awesome*/
.fa {
  color:white;
  margin-bottom: 30px;
}
/*Font Awesome*/

/*About Section*//*About Section*//*About Section*//*About Section*/
#about-nav-section p {
  color:#00237E;
}
#about-nav-section h2{
  font-weight: bold;
  color: #E95041;
}
/*About Section*//*About Section*//*About Section*//*About Section*/

/*Course offerings section*/

.course-head {
  margin-top: -40px;
  padding-top: 0px;
}
#course-nav-section h2 {
  font-weight: bold;
}
#ui-ux-section {
  background-color: #B4EEBD;
  text-align: center;
}

#ui-ux-section h3 {
  color: white;
  margin-bottom: 20px;
}

#full-stack-section {
  background-color: #FFE292;
  text-align: center;
}

#full-stack-section h3 {
  color:white;
  margin-bottom: 20px;
}

#ios-section {
  background-color: #00237E;
  text-align: center;
}

#ios-section h3 {
  color:white;
  margin-bottom: 20px;
}

.flexbox h3 {
  font-weight: bold;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.flexbox .col-md-4 {
  flex: 1;
  padding: 20px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.flexbox .col-md-4:nth-child(1) {
  background: #ccc;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.flexbox .col-md-4:nth-child(2) {
  background: #eee;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.flexbox .col-md-4:nth-child(3) {
  background: #eee;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

body {
  padding: 20px;
}
/*Course offerings section*/

/*FAQ Section*/
#faq-nav-section {
  color: #00237E;
  margin-top: -40px;
}
#faq-nav-section h2{
  color: #00237E;
}

#faq-nav-section a {
  color:#00237E;
}

.answer {
  display: none;
}

.answer {
  color: #E95041;
}
/*FAQ Section*/

/*Team Nav Section*/
#team-nav-section {
  background-color:#00237E;
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

#team-nav-section h2 {
  color: white;
  font-size: 40px;
  margin-bottom: -5px;
  font-weight: bold;
}

#team-nav-section p {
  line-height: 100%;
}
/*Team Nav Section*/


/*Contact Nav Section*/
#contact-nav-section {
  text-align: center;
  background-color:white;
  color:#00237E;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 50px;
  font-size: 20px;
}
#contact-nav-section h2 {
  color: #E95041;
  font-weight: bold;
  margin-bottom: 5px;
}

#contact-nav-section p {
  color: black;
}
#contact-nav-section a {
  color: #2A5DB0;
}
/*Contact Nav Section*/

/*Footer*/
footer {
  text-align: center;
  background-color: #F1F1F1;
  padding-bottom: 50px;
  padding-top: 50px;
}

footer h3 {
  font-size: 15px;
  color:#999999;
  font-weight: lighter;
}

.Copyright {
  margin-top: 50px;
}
/*Footer*/
