/*font-family: 'Anonymous Pro', monospace;
font-family: 'Poppins', sans-serif;*/
body,
html {
    width: 100%;
    height: 100%;
}
h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 54px;
}
.navbar {
    background-color: red;
    border-color: #E7E7E7;
}

.intro-header {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: url(../background.png) no-repeat center center;
  background-size: cover;
}
.intro-text{
  position: relative;
  padding-top: 5%;
  padding-bottom: 20%;
}

#intro-button{
  margin-top: 40px;
}
.container-fluid {

}
.btn {
  padding: 20px 40px 20px 40px;
  border: 0 none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  border-radius: 0;
}

.btn-primary {
    background: #E95041;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #E95041;
}

.btn-primary:active, .btn-primary.active {
    background: #E95041;
    box-shadow: none;
}
.navbar-nav a{
  color:red;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
}
